<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.anuen.nurse.dao.NurseMapper">

    <select id="selectNamesByInput" resultType="org.anuen.nurse.entity.dto.NameSuggestion">
        select concat(n.last_name, n.first_name) as name,
               n.uid                             as uid
        from nurse n
        where concat(n.last_name, n.first_name) like #{name};
    </select>
</mapper>